<h1>Listing birthdays</h1>

<table>
  <tr>
    <th>When</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @birthdays.each do |birthday| %>
  <tr>
    <td><%= birthday.when %></td>
    <td><%= link_to 'Show', birthday %></td>
    <td><%= link_to 'Edit', edit_birthday_path(birthday) %></td>
    <td><%= link_to 'Destroy', birthday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Birthday', new_birthday_path %>
